# 1.mysqclient
* 파이썬에서는 MySQL 서버와 통신할 수 있는 파이썬용 데이터베이스 커넥터의 종류가 여러가지 있음
* 가장 많이 사용되는 커넥터는 PyMySQL,mysqlclient가 있음
* 사용법은 비슷하나 속도가 빠른 mysqlclient를 권장하고 있음

In [1]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages (2.1.1)

WARNING: You are using pip version 20.2.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\administrator\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [2]:
import MySQLdb

In [3]:
# host : IP주소 , localhost에 연결되있음 ,localhost = 127.0.0.1
# user :  root
# password : 1234
# db : 데이터베이스 ,kdt

db =MySQLdb.connect(host = 'localhost',user ='root', password='1234', db='kdt' )
#db =MySQLdb.connect('localhost','root','1234','kdt') 와 동일

# 2. cursor 생성하기
* 하나의 DataBase Connection에 대하여 독립적으로 SQL문을 실행할 수 있는 작업환경을 제공하는 객체
* 하나의 connection에 동시에 한 개의 cursor만 생성할 수 있으며, cursor를 통해 SQL문을 실행하면 실행결과를 튜플 단위로 반환

In [4]:
cur = db.cursor()  #작업환경 만들기
sql = 'select userid,username,hp,email,gender from member' #cur,sql ->그냥 변수명

#cur.execute(쿼리구문)
cur.execute(sql) # - > 6 데이터 갯수가 6개

10

# 3.SQL문 결과 가져오기

* fetchall(): 한번의 모든 tuple을 가져옴 . 검색결고가 매우 크다면 메모리 오버헤드(메모리가 꽉 차는것)가발생할 수 있음

* fetchone(): 한번에 하나의 tuple을 가져옴 ,다시 메서드를 호출하면 다음 데이터 하나를 가져옴

In [5]:
row = cur.fetchall()
print(row)
#다시 실행하면 안됨 -> 이미다 가져온뒤이기 때문

(('1', '1', '1', '1', '1'), ('apple', '김사과', '01015624525', 'apple@gamil.com', '남자'), ('avocado', '안카도', '010-0000-0000', 'avocado@email', '남자'), ('banana', '박나나', '01025624525', 'banana@naver.com', '여자'), ('grape', '백포도', '01015612525', 'grape@gamil.com', '여자'), ('mango', '마앙고', '010-0000-0000', 'mango@mango', '남자'), ('melon', '나메론', '01019214525', 'melon@gamil.com', '여자'), ('orange', '이렌지', '01000624525', 'orange@gamil.com', '여자'), ('peach', '피이치', '010-0000-0000', 'peach@peach', '여자'), ('strawberry', '배애리', '01015612525', 'strawberry@gamil.com', '남자'))

In [6]:
row = cur.fetchone()
print(row)
#위에서 다 돌앗기 때문에 없음

None

In [7]:
cur.execute(sql)   # 다시실행

row = cur.fetchone()
print(row)

('1', '1', '1', '1', '1')

In [8]:
#fetchone() 을 이용하여 루프를 돌면서 모든 데이터 를 출력하기
cur.execute(sql)

while True:
    row = cur.fetchone()
    if row:
        print(row)
    else:
        break

('1', '1', '1', '1', '1')
('apple', '김사과', '01015624525', 'apple@gamil.com', '남자')
('avocado', '안카도', '010-0000-0000', 'avocado@email', '남자')
('banana', '박나나', '01025624525', 'banana@naver.com', '여자')
('grape', '백포도', '01015612525', 'grape@gamil.com', '여자')
('mango', '마앙고', '010-0000-0000', 'mango@mango', '남자')
('melon', '나메론', '01019214525', 'melon@gamil.com', '여자')
('orange', '이렌지', '01000624525', 'orange@gamil.com', '여자')
('peach', '피이치', '010-0000-0000', 'peach@peach', '여자')
('strawberry', '배애리', '01015612525', 'strawberry@gamil.com', '남자')

In [9]:
# cursor에 dictionary 형식으로 row를 유지하도록 내부 타입을 명시
cur = db.cursor(MySQLdb.cursors.DictCursor)
cur.execute(sql)
while True:
    row = cur.fetchone()
    if row:
        print(f"아이디: {row['userid']}, 이름: {row['username']}, 전화번호: {row['hp']}, 이메일: {row['email']}, 성별: {row['gender']}")
    else:
        break

아이디: 1, 이름: 1, 전화번호: 1, 이메일: 1, 성별: 1
아이디: apple, 이름: 김사과, 전화번호: 01015624525, 이메일: apple@gamil.com, 성별: 남자
아이디: avocado, 이름: 안카도, 전화번호: 010-0000-0000, 이메일: avocado@email, 성별: 남자
아이디: banana, 이름: 박나나, 전화번호: 01025624525, 이메일: banana@naver.com, 성별: 여자
아이디: grape, 이름: 백포도, 전화번호: 01015612525, 이메일: grape@gamil.com, 성별: 여자
아이디: mango, 이름: 마앙고, 전화번호: 010-0000-0000, 이메일: mango@mango, 성별: 남자
아이디: melon, 이름: 나메론, 전화번호: 01019214525, 이메일: melon@gamil.com, 성별: 여자
아이디: orange, 이름: 이렌지, 전화번호: 01000624525, 이메일: orange@gamil.com, 성별: 여자
아이디: peach, 이름: 피이치, 전화번호: 010-0000-0000, 이메일: peach@peach, 성별: 여자
아이디: strawberry, 이름: 배애리, 전화번호: 01015612525, 이메일: strawberry@gamil.com, 성별: 남자

# 4. Coursor와 Connetcion 닫아주기

In [ ]:
cur.close() # 커서 닫기
db.close()  # 커넥션 닫기

# 5.데이터 삽입하기

In [10]:
sql = "insert into member(userid,userpw,username,hp,email,gender,ssn1,ssn2) values(%s,%s,%s,%s,%s,%s,%s,%s)"
data = ('avocado','0000','안카도','010-0000-0000','avocado@email','남자','000000','0000000')
cur.execute(sql, data) # sql을 실행하면서 값을 data를 넣어준다 %s에
db.commit()

IntegrityError: (1062, "Duplicate entry 'avocado' for key 'member.PRIMARY'")

In [12]:
sql = "insert into member(userid,userpw,username,hp,email,gender,ssn1,ssn2) values(%s,%s,%s,%s,%s,%s,%s,%s)"
data = ('mango','0000','마앙고','010-0000-0000','mango@mango','남자','000000','0000000'),('peach','0000','피이치','010-0000-0000','peach@peach','여자','000000','0000000')

cur.executemany(sql,data)
db.commit

IntegrityError: (1062, "Duplicate entry 'mango' for key 'member.PRIMARY'")

# 문제
* '회원가입' 프로그램 만들기

***********회원가입***********
* 1.아이디를 입력하세요:
* 2.비밀번호를 입력하세요:
* 3.이름을 입력하세요:
* 4.휴대폰번호을 입력하세요:
* 5.이메일을 입력하세요:
* 6.성별을 입력하세요:
* 7.주민번호 앞자리을 입력하세요:
* 8.주민번호 뒷자리을 입력하세요:
* 9.우편번호을 입력하세요:
* 10.주소을 입력하세요:
* 11.상세을 입력하세요:
* 12.참고사항을 입력하세요:

* 가입되었습니다.


* 에러가 발생! 오류처리 -> 다시입력하도록

In [15]:
userid = input('아이디를 입력하세요: ')
userpw = input('비밀번호를 입력하세요: ')
username = input('이름을 입력하세요: ')
hp = input('휴대폰번호를 입력하세요: ')
email = input('이메일을 입력하세요: ')
gender = input('성별을 입력하세요: ')
ssn1 = input('주민번호 앞자리를 입력하세요: ')
ssn2 = input('주민번호 뒷자리를 입력하세요: ')
zipcode = input('우편번호를 입력하세요: ')
address1 = input('주소를 입력하세요: ')
address2 = input('상세주소를 입력하세요: ')
address3 = input('참고사항을 입력하세요: ')
# data = []
# tu = (id, pw, name, hp, email, gender, ssn1, ssn2, zipcode, adr1, adr2, adr3)
# data.append(tu)
# cur.execute(sql, data)
# db.commit()
try:
    sql = "insert into member(userid,userpw,username,hp,email,gender,ssn1,ssn2,zipcode,address1,address2,address3) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    data = (userid,userpw,username,hp,email,gender,ssn1,ssn2,zipcode,address1,address2,address3)
    cur.execute(sql, data)
    db.commit()
except:
    print('정보를 다시 입력하세요')

아이디를 입력하세요: 1
비밀번호를 입력하세요: 1
이름을 입력하세요: 1
휴대폰번호를 입력하세요: 1
이메일을 입력하세요: 1
성별을 입력하세요: 1
주민번호 앞자리를 입력하세요: 1
주민번호 뒷자리를 입력하세요: 1
우편번호를 입력하세요: 1
주소를 입력하세요: 1
상세주소를 입력하세요: 1
참고사항을 입력하세요: 1

In [ ]:
# 강사님 풀이

import MySQLdb

db =MySQLdb.connect('localhost','root','1234','kdt')
cur=db.cursor()

while True:
    try:
        userid = input('아이디를 입력하세요: ')
        userpw = input('비밀번호를 입력하세요: ')
        username = input('이름을 입력하세요: ')
        hp = input('휴대폰번호를 입력하세요: ')
        email = input('이메일을 입력하세요: ')
        gender = input('성별을 입력하세요: ')
        ssn1 = input('주민번호 앞자리를 입력하세요: ')
        ssn2 = input('주민번호 뒷자리를 입력하세요: ')
        zipcode = input('우편번호를 입력하세요: ')
        address1 = input('주소를 입력하세요: ')
        address2 = input('상세주소를 입력하세요: ')
        address3 = input('참고사항을 입력하세요: ')3
        
        sql = "insert into member(userid,userpw,username,hp,email,gender,ssn1,ssn2,zipcode,address1,address2,address3) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
        data = (userid,userpw,username,hp,email,gender,ssn1,ssn2,zipcode,address1,address2,address3)
        cur.excute(sql,data)
        db.commit()
        print('가입되었습니다.')
        
        break
    except:
        print("다시입력하세요")
        
        
cur.close()
db.close()

# 6. 데이터 수정하기

In [6]:
import MySQLdb

db =MySQLdb.connect('localhost','root','1234','kdt')
cur=db.cursor()

In [11]:
sql = "update member set zipcode ='12345',address1='서울시',address2='강남구',address3='역삼동' where userid = 'mango'"
result = cur.execute(sql)
db.commit


#print(result) -> 1 : 실행잘됫다.


if result >0:
    print("수정되었습니다.")
else:
    print('에러!')

수정되었습니다.

# 문제

* 로그인 프로그램을 작성해보자

***** 로그인 ****
* 아이디를 입력하세요:apple
* 비밀번호를 입력하세요:
* 로그인 되었습니다.

* 아이디를 입력하세요:apple
* 비밀번호를 입력하세요:
* 아이디 또는 비밀번호가 틀렸습니다!

In [ ]:
import MySQLdb

db =MySQLdb.connect('localhost','root','1234','kdt')
cur=db.cursor()



userid = input("아이디를 입력하세요:")
userpw = input("비밀번호를 입력하세요:")



sql = "select userid from member where userid =%s and userpw=%s"
data =(userid,userpw)
result =cur.execute(sql,data)


if result >0:
    print('로그인 되었습니다')

else: 
    print('아이디 또는 비밀번호를 확인하세요')
    
cur.close()
db.close()

# 7.데이터 삭제하기

In [5]:

db =MySQLdb.connect('localhost','root','1234','kdt')
cur=db.cursor()

sql="delete from member where userid ='avocado'"
result =cur.execute(sql)
db.commit()

if result>0:
    print("삭제되었습니다")
else:
    print("오류")

삭제되었습니다