In [1]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages (2.1.1)

WARNING: You are using pip version 20.2.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\administrator\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [2]:
import MySQLdb

In [3]:
db =MySQLdb.connect('localhost','root','1234','test')

In [105]:
cur =db.cursor()
sql ='select * from student'
cur.execute(sql)
row=cur.fetchall()
print(row)
db.commit()



sql ='insert into student values(%s,%s,%s,%s,%s,now())'

data =(11,11,11,11,11)

cur.execute(sql,data)


db.commit()

(('1', '1', '1', '1', '1', datetime.datetime(2023, 3, 31, 9, 50, 11)), ('10', '10', '10', '10', '10', datetime.datetime(2023, 3, 31, 12, 24, 50)), ('11', '11', '11', '11', '11', datetime.datetime(2023, 3, 31, 12, 25, 3)), ('2', '2', '2', '2', '2', datetime.datetime(2023, 3, 31, 11, 9, 38)), ('3', '3', '3', '3', '3', datetime.datetime(2023, 3, 31, 11, 29, 42)), ('4', '4', '4', '4', '4', datetime.datetime(2023, 3, 31, 11, 39, 28)), ('5', '5', '5', '5', '5', datetime.datetime(2023, 3, 31, 11, 40, 35)), ('9', '9', '9', '9', '9', datetime.datetime(2023, 3, 31, 11, 44, 29)))

IntegrityError: (1062, "Duplicate entry '11' for key 'student.PRIMARY'")

In [106]:
class DTO:
    def __init__(self, number, name, hp, email, address):
        self.number = number
        self.name = name
        self.hp = hp
        self.email =email
        self.address =address
    
    def setnumber(self, number):
        self.number = number
    
    def getnumber(self):
        return self.number

    def setname(self, name):
        self.name = name
    
    def getname(self):
        return self.name

    def sethp(self, hp):
        self.hp = hp
    
    def gethp(self):
        return self.hp
   
    def setemail(self, email):
        self.email = email
    
    def getemail(self):
        return self.email
    
    def setaddress(self, address):
        self.address = address
    
    def getaddress(self):
        return self.address

In [107]:
class DTO2:
    def __init__(self, number, javagrade, pythongrade, Cgrade):
        self.number = number
        self.javagrade = javagrade
        self.pythongrade = pythongrade
        self.Cgrade =Cgrade
        self.total = total
        self.avg   = avg

            
    def setnumber(self, number):
        self.number = number
    
    def getnumber(self):
        return self.number

    def setjavagrade(self, javagrade):
        self.javagrade = javagrade
    
    def getjavagrade(self):
        return self.javagrade

    def setpythongrade(self, pythongrade):
        self.pythongrade = pythongrade
    
    def getpythongrade(self):
        return self.pythongrade
   
    def setCgrade(self, Cgrade):
        self.Cgrade = Cgrade
    
    def getCgrade(self):
        return self.Cgrade

In [108]:
class DAO:
    def __init__(self):
        self.db = None
    
    def connect(self):
        self.db = MySQLdb.connect('localhost', 'root', '1234', 'test')
        
    def disconnect(self):
        self.db.close()
    
    def insert(self, it):
        self.connect()
        cur = self.db.cursor()
        sql ='insert into student values(%s,%s,%s,%s,%s,now())'
        data = int((it.getnumber(), it.getname(), it.gethp(), it.getemail(),it.address()))
        print(data)
        cur.execute(sql, data)
        self.db.commit()
        self.disconnect()     
        
    def selectAi(self):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from ai'
        cur.execute(sql)
        row = cur.fetchall()
        self.disconnect()
        return row


    def searchAi(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from ai where name=%s'
        data = (name,)     
        cur.execute(sql, data)
        row = cur.fetchone()
        self.disconnect()
        return row

    
    def updateAi(self, it):
        self.connect()
        cur = self.db.cursor()
        sql = 'update ai set age=%s, gender=%s where name=%s'
        data = (it.getAge(), it.getGender(), it.getName())
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('수정되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()

    
    def deleteAi(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'delete from ai where name=%s'
        data = (name,)
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('삭제되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()

In [109]:
class Service:
    def __init__(self):
        self.dao = DAO()
    
    def insertData(self):
        number = input("학번을 입력하세요:")
        name = input('이름를 입력하세요:')
        hp = input('연락처를 입력하세요:')
        email = input('이메일을 입력하세요:')
        address = input('주소를 입력하세요:')            
        A = DTO(number,name, hp, email, address)
        self.dao.insert(A)
        
    def insertData2(self):
        number = input("학번을 입력하세요:")
        javagrade = input('자바성적을 입력하세요:')
        pythongrade = input('파이썬 성적을 입력하세요:')
        Cgrade = input('C언어 성적을 입력하세요:')      
        A = DTO(number,javagrade,pythongrade,Cgrade)
        self.dao.insert(A)    
  
    def printAll(self):
        if A == 1:
        datas = self.dao.selectAi()
        
    def searchData(self):
        name = input('검색할 이름를 입력하세요')
        if A == 1:
            it = self.dao.searchAi(name)
        if it:
            print(it)
        else:
            print('해당 학생이 없습니다')
    
    def editData(self):
        name = input('수정할 사람을 입력하세요')
        if A == 1:
          it = self.dao.searchAi(name)
        if it == None:
            print('수정할 사람을 찾지 못했습니다')
        else:
            age = input('새로운 나이를 입력하세요')
            gender = input('새로운 성별을 입력하세요')
            New = DTO(name, age, gender)
        if A == 1:
          it = self.dao.updateAi(New)
        
        
    def editData2(self):
        name = input('수정할 사람을 입력하세요')
        if A == 1:
          it = self.dao.searchAi(name)
        if it == None:
            print('수정할 사람을 찾지 못했습니다')
        else:
            age = input('새로운 나이를 입력하세요')
            gender = input('새로운 성별을 입력하세요')
            New = DTO(name, age, gender)
        if A == 1:
          it = self.dao.updateAi(New)
        
    def delData(self):
        name = input('삭제할 사람을 입력하세요')
        if A == 1:
          it = self.dao.deleteAi(name)
        
    def delData2(self):
        name = input('삭제할 사람을 입력하세요')
        if A == 1:
          it = self.dao.deleteAi(name)

IndentationError: expected an indented block (2741401751.py, line 24)

In [110]:
class Menu:
    def __init__(self):
        self.service = Service()
    
    def run(self):
        while True:
            try:
                print('\n학생관리 프로그램\n')
                menu = int(input(
                             '1.학생 정보 입력\n'
                             '2.학생 정보 출력\n' 
                             '3.학생 정보 검색\n' 
                             '4.학생 정보 수정\n' 
                             '5.학생 정보 삭제\n' 
                             '6.학생 점수 등록\n' 
                             '7.학생 점수 수정\n'
                             '8.학생 점수 삭제\n'
                             '9.프로그램 종료\n' ))

                if menu == 1:
                    self.service.insertData()
                elif menu == 2:
                    self.service.printAll()
                elif menu == 3:
                    self.service.searchData()
                elif menu == 4:
                    self.service.editData()
                elif menu == 5:
                    self.service.delData()
                elif menu == 6:
                    self.service.insertData2()
                elif menu == 7:
                    self.service.editData2()
                elif menu == 8:
                    self.service.delData2()
                elif menu == 9:
                    break
            except Exception as e:
                print(e)
                print('다시 입력하세요')

In [111]:
start=Menu()
start.run()

학생관리 프로그램

1.학생 정보 입력
2.학생 정보 출력
3.학생 정보 검색
4.학생 정보 수정
5.학생 정보 삭제
6.학생 점수 등록
7.학생 점수 수정
8.학생 점수 삭제
9.프로그램 종료
1
학번을 입력하세요:13
이름를 입력하세요:13
연락처를 입력하세요:13
이메일을 입력하세요:13
주소를 입력하세요:13
'str' object is not callable
다시 입력하세요

학생관리 프로그램

1.학생 정보 입력
2.학생 정보 출력
3.학생 정보 검색
4.학생 정보 수정
5.학생 정보 삭제
6.학생 점수 등록
7.학생 점수 수정
8.학생 점수 삭제
9.프로그램 종료
9