In [14]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages (2.1.1)

WARNING: You are using pip version 20.2.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\administrator\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [15]:
import MySQLdb

In [16]:
class DTO:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def setName(self, name):
        self.name = name
    
    def getName(self):
        return self.name

    def setAge(self, age):
        self.age = age
    
    def getAge(self):
        return self.age

    def setGender(self, gender):
        self.gender = gender
    
    def getGender(self):
        return self.gender

In [17]:
class ITDAO:
    def __init__(self):
        self.db = None
    
    def connect(self):
        self.db = MySQLdb.connect('localhost', 'root', '1234', 'itclass')
        
    def disconnect(self):
        self.db.close()
    
    def insert(self, it):
        self.connect()
        cur = self.db.cursor()
        sql = "insert into ai values (%s, %s, %s)"
        data = (it.getName(), it.getAge(), it.getGender())
        cur.execute(sql, data)
        self.db.commit()
        self.disconnect()     

    def insert2(self, it):
        self.connect()
        cur = self.db.cursor()
        sql = "insert into java values (%s, %s, %s)"
        data = (it.getName(), it.getAge(), it.getGender())
        cur.execute(sql, data)
        self.db.commit()
        self.disconnect()     

    def insert3(self, it):
        self.connect()
        cur = self.db.cursor()
        sql = "insert into aws values (%s, %s, %s)"
        data = (it.getName(), it.getAge(), it.getGender())
        cur.execute(sql, data)
        self.db.commit()
        self.disconnect()     
      
        
    def selectAi(self):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from ai'
        cur.execute(sql)
        row = cur.fetchall()
        self.disconnect()
        return row

    def selectJava(self):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from java'
        cur.execute(sql)
        row = cur.fetchall()
        self.disconnect()
        return row

    def selectAws(self):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from aws'
        cur.execute(sql)
        row = cur.fetchall()
        self.disconnect()
        return row

    def searchAi(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from ai where name=%s'
        data = (name,)     
        cur.execute(sql, data)
        row = cur.fetchone()
        self.disconnect()
        return row

    def searchJava(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from java where name=%s'
        data = (name,)     
        cur.execute(sql, data)
        row = cur.fetchone()
        self.disconnect()
        return row

    def searchAws(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'select name, age, gender from aws where name=%s'
        data = (name,)     
        cur.execute(sql, data)
        row = cur.fetchone()
        self.disconnect()
        return row
    
    def updateAi(self, it):
        self.connect()
        cur = self.db.cursor()
        sql = 'update ai set age=%s, gender=%s where name=%s'
        data = (it.getAge(), it.getGender(), it.getName())
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('수정되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()

    def updateJava(self, it):
        self.connect()
        cur = self.db.cursor()
        sql = 'update java set age=%s, gender=%s where name=%s'
        data = (it.getAge(), it.getGender(), it.getName())
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('수정되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()

    def updateAws(self, it):
        self.connect()
        cur = self.db.cursor()
        sql = 'update aws set age=%s, gender=%s where name=%s'
        data = (it.getAge(), it.getGender(), it.getName())
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('수정되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()
    
    def deleteAi(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'delete from ai where name=%s'
        data = (name,)
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('삭제되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()

    def deleteJava(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'delete from java where name=%s'
        data = (name,)
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('삭제되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()

    def deleteAws(self, name):
        self.connect()
        cur = self.db.cursor()
        sql = 'delete from aws where name=%s'
        data = (name,)
        result = cur.execute(sql, data)
        self.db.commit()
        if result > 0:
            print('삭제되었습니다')
        else:
            print('해당 학생이 없습니다')
        self.disconnect()

In [18]:
class Service:
    def __init__(self):
        self.dao = ITDAO()
    
    def insertData(self):
        A =  int(input('반을 선택하세요 1.AI 2.Java 3.Aws '))      
        name = input('이름를 입력하세요:')
        age = input('나이을 입력하세요:')
        gender = input('성별을 입력하세요:')
        B = DTO(name, age, gender)
        if A == 1:
          self.dao.insert(B)
        elif A == 2:
          self.dao.insert2(B)  
        elif A == 3:
          self.dao.insert3(B)
    
    def printAll(self):
        A =  int(input('반을 선택하세요 1.AI 2.Java 3.Aws ')) 
        if A == 1:
          datas = self.dao.selectAi()
        elif A == 2:
          datas = self.dao.selectJava()
        elif A == 3:
          datas = self.dao.selectAws()
        print(datas)
    
    def searchData(self):
        A =  int(input('반을 선택하세요 1.AI 2.Java 3.Aws ')) 
        name = input('검색할 이름를 입력하세요')
        if A == 1:
          it = self.dao.searchAi(name)
        elif A == 2:
          it = self.dao.searchJava(name)
        elif A == 3:
          it = self.dao.searchAws(name)
        if it:
            print(it)
        else:
            print('해당 학생이 없습니다')
    
    def editData(self):
        A =  int(input('반을 선택하세요 1.AI 2.Java 3.Aws '))
        name = input('수정할 사람을 입력하세요')
        if A == 1:
          it = self.dao.searchAi(name)
        elif A == 2:
          it = self.dao.searchJava(name)
        elif A == 3:
          it = self.dao.searchAws(name) 

        if it == None:
            print('수정할 사람을 찾지 못했습니다')
        else:
            age = input('새로운 나이를 입력하세요')
            gender = input('새로운 성별을 입력하세요')
            New = DTO(name, age, gender)
        if A == 1:
          it = self.dao.updateAi(New)
        elif A == 2:
          it = self.dao.updateJava(New)
        elif A == 3:
          it = self.dao.updateAws(New) 
   
    def delData(self):
        A =  int(input('반을 선택하세요 1.AI 2.Java 3.Aws '))
        name = input('삭제할 사람을 입력하세요')
        if A == 1:
          it = self.dao.deleteAi(name)
        elif A == 2:
          it = self.dao.deleteJava(name)
        elif A == 3:
          it = self.dao.deleteAws(name)

In [19]:
class Menu:
    def __init__(self):
        self.service = Service()
    
    def run(self):
        while True:
            try:
                print('학생관리 프로그램')
                menu = int(input('1.등록 2.정보출력 3.학생검색 4.학생 정보 수정 5.삭제 6.프로그램종료'))
                if menu == 1:
                    self.service.insertData()
                elif menu == 2:
                    self.service.printAll()
                elif menu == 3:
                    self.service.searchData()
                elif menu == 4:
                    self.service.editData()
                elif menu == 5:
                    self.service.delData()
                elif menu == 6:
                    break
            except Exception as e:
                print(e)
                print('다시 입력하세요')

In [20]:
start = Menu()
start.run()

학생관리 프로그램
1.등록 2.정보출력 3.학생검색 4.학생 정보 수정 5.삭제 6.프로그램종료6

In [360]:
#다음 사람 뽑기
db = MySQLdb.connect('localhost', 'root', '1234', 'itclass')
cur = db.cursor()
sql=("select * from name order by rand() limit 1")
cur.execute(sql)
row = cur.fetchall()
print(row[0][0])
db.close()

한형진